.btn-custom {
    &-primary {
        background-color: $color-primary;
        color: white;
        width: 40px;
        height: 40px;

        &:hover {
            background-color: darken($color-primary, 8%);
            color: white;
        }
    }
    &-secondary {
        background-color: $color-secondary;
        color: white;
        width: 40px;
        height: 40px;

        &:hover {
            background-color: darken($color-secondary, 8%);
            color: white;
        }
    }
    &-tertiary {
        background-color: $color-tertiary;
        color: white;
        width: 40px;
        height: 40px;

        &:hover {
            background-color: darken($color-tertiary, 8%);
            color: white;
        }
    }

    &-primary-outline {
        background-color: white;
        color: $color-primary;
        &:hover {
            background-color: rgba(277, 277, 277, 0.9);
            color: darken($color-primary, 8%);
        }
    }
}

#btn-width {
    width: 200px;
}

#btn-add {
    width: 100px;
}

.badge-custom {
    &-secondary {
        background-color: $color-secondary;
        color: white;
        font-size: 0.8rem;
    }
}

.form-check-input:checked {
    background-color: $color-primary;
    border-color: $color-primary;
}

.input-required {
    color: $color-secondary;
}
