header {
    height: 75px;
    background-color: white;

    .navbar-custom {
        height: 100%;
        padding: 0 16px;
        .container-fluid{
            padding: 0 24px !important;
        }
    }
}

@media (max-width:576px){
    header{
        .navbar-custom{
            padding: 0 8px;
        }
    }
}
