.card-restaurant {
    .card-img-box {
        height: 350px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .badge-container {
        text-align: right;
        margin-bottom: 0;
    }

    p {
        font-size: 1.1rem;
        margin-top: 20px;

        i {
            color: $color-primary;
            margin: 0 10px;
            font-size: 1.2rem;
        }
    }
}

.card-dish {
    height: 400px;
    .card-img-box {
        height: 100%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
