.card {
    .card-img-box {
        height: 250px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .badge-container {
        text-align: right;
        margin-bottom: 0;
    }
}

.card-dish {
    height: 400px;
    .card-img-box {
        height: 100%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
